.input-container, .return-container{
    border: 1px solid black;
    padding-left: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#input-sub-container {
    display: flex;
    flex-direction: row;
}

.input-container button {
    width: 10%;
    margin: 10px 0 10px 0;
}

.prob-input {
    width: 30%;
    height: 10%;
    border: 1px solid black;
}

.return-container {
    flex-direction: row;
}

#returnValue {
    margin-left: 20px;
}

@media(max-width: 500px) {
    body {
        margin-right: 30px;
        font-size: smaller;
    }
    #submit-button {
        width: 25%;
    }

    .prob-input {
        width: 50%;
        height: 150%;
        /* margin-bottom: 15px; */
        border: 1px solid black;
    }
}
